body.dark-theme {
    background-color: #480808;
    color: #e0e0e0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.wrapper {
    flex: 1;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1f1f1f;
    color: #e0e0e0;
    padding: 1rem;
}

.logo img {
    height: 120px;
}

.nav-links {
    display: flex;
    gap: 1rem;
}

.nav-links a {
    color: #e0e0e0;
    text-decoration: none;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header-right input[type="text"] {
    background-color: #333;
    color: #e0e0e0;
    border: 1px solid #555;
    padding: 0.5rem;
}

.cart-icon {
    color: #e0e0e0;
    text-decoration: none;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem;
}

.product-image-section {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color: #ffffff;
    border: 1px solid #333;
    border-radius: 15px; /* Add border-radius to the section */
    margin-right: 2rem;
    text-align: center;
}

.product-image img {
    max-width: 100%;
    height: auto;
    border-radius: 15px; /* Add border-radius to the image */
}

.product-title-section {
    margin-top: 1rem;
}

.product-title {
    font-size: 2rem;
    color: #000000;
}

.product-details-section {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #130101;
    border: 1px solid #333;
    border-radius: 15px; /* Add border-radius to the section */
    padding: 1rem;
}

.product-description-section {
    margin-bottom: 2rem;
}

.product-description {
    color: #cccccc;
}

.product-price-section {
    margin-bottom: 2rem;
}

.product-price {
    font-size: 1.5rem;
    color: #ede65e;
}

.quantity-selector-section {
    margin-bottom: 2rem;
}

.quantity-selector {
    display: flex;
    align-items: center;
}

.quantity-selector label {
    color: #e0e0e0;
    margin-right: 0.5rem;
}

.quantity-selector input {
    width: 3rem;
    text-align: center;
    background-color: #333;
    color: #e0e0e0;
    border: 1px solid #555;
    margin: 0 0.5rem;
}

.quantity-button {
    background-color: #333;
    color: #e0e0e0;
    border: 1px solid #555;
    padding: 0.5rem;
    cursor: pointer;
}

.quantity-button:hover {
    background-color: #444;
}

.add-to-cart-section {
    text-align: center;
    width: 100%;
}

.add-to-cart {
    background: #f0c14b;
    border: 1px solid #a88734;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

footer {
    background: #000000;
    color: #e0e0e0;
    text-align: center;
    padding: 1rem;
    margin-top: auto;
}
