* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #fff;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/* Header styles */
header {
    background-color: #1c1c1c;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 150px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}

.nav-links a:hover {
    text-decoration: underline;
}

.header-right {
    display: flex;
    align-items: baseline;
}

.header-right select {
    padding: 5px;
    margin-right: 10px;
    height: 34px; /* Match the height of the search bar */
    border: 1px solid #333333;
    border-radius: 4px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    background-color: #2c2c2c; /* Change color to #2c2c2c */
    color: #fff;
}

.cart-icon {
    color: #fff;
    text-decoration: none;
}

.cart-icon span {
    font-weight: bold;
}

/* Main content styles */
.category-page {
    padding-top: 10px;
    padding-bottom: 15px;
    text-align: center;
    margin-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #e91e63
}

.category-page h1 {
    font-size: 2.5em;

}

.product-grid {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.product-card {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    max-width: 300px;
    background-color: #f9f9f9;
    border-radius: 8px;
    transition: transform 0.3s, box-shadow 0.3s;
    color: #000;
}

.product-card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    max-height: 400px;
}

.product-card h3 {
    margin-top: 15px;
    font-size: 1.5em;
    color: #000000; /* Change text color to #e91e63 */
}

.product-card p {
    font-size: 1.2em;
    color: #666;
    margin-top: 5px;
}

.buy-now-button {
    display: inline-block;
    background-color: #e91e63; /* pink background */
    color: #ffffff; /* Contrast color for text */
    padding: 8px 16px;
    text-decoration: none;
    margin-top: 10px;
    border-radius: 5px;
}

.buy-now-button:hover {
    background-color: #d81b60; /* Slightly darker pink on hover */
}

/* Reduce the size of the "LONG SLEEVE" picture by 10% */
.product-card img[src*="s-l400-removebg-preview.png"] {
    max-width: 90%;
    max-height: 90%;
}

/* Footer styles */
footer {
    text-align: center;
    padding: 20px 0;
    border-top: 1px solid #333;
    margin-top: 40px;
}

footer p {
    margin: 0;
}

